.container {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 160rem;
  margin: 0 auto;
  margin-top: 10rem;
  column-gap: 10rem;
}

.drag-container {
  box-shadow: 0rem 0rem 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
  height: 100%;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header--primary {
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
}

.image {
  width: 100%;
}

.highlighted {
  position: relative;
}

.brush-stroke {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  opacity: 0.5;
  background-image: url("/public/assets/data-images/brush.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(2) translateY(-0.3rem);
  z-index: -1;
}
