.title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.quizz-inputs {
  text-align: center;
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container {
  overflow-y: auto;
  background-color: red;
}

.page-style {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.borderDiv {
  border: 1px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
}

.answer-text {
  text-align: center;
  font-size: 2rem;
  font-family: "PT Sans", sans-serif;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.radio-btn-left {
  margin-right: 10px;
}

.radio-btn-right {
  margin-left: 10px;
}

.question-borderDiv {
  border: 1px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
}
