.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size:  15px;
    transition:all 0.3s ease;
    width: 20vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline:none;
    margin-top: 60px;
    background-color: #125dff;
    color: white;
    opacity: 0.5;
  }


.btn:hover{
  font-weight: bold;
    background-color: white;
    color: #125dff;
    border-radius: 50px;
    border:1px;
    border-style: solid;
    border-color: #125dff;
    opacity: 1;
}

.btn2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:  15px;
  transition:all 0.3s ease;
  width: fit-content;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline:none;
  background-color: #125dff;
  color: white;
  opacity: 0.5;
}

.btn2:hover{
  font-weight: bold;
    background-color: white;
    color: #125dff;
    border-radius: 50px;
    border:1px;
    border-style: solid;
    border-color: #125dff;
    opacity: 1;
}