
:root {
    --register-form-shadow:none;
    --register-form-scale:1;
    --register-form-opacity:1;
    --register-form-background: white;
  }
 
.register-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url("var7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.register-page__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(var(--login-form-scale));
  /* background-color: #53a7ea; */
  background-color: white;
  box-shadow: var(--login-form-shadow);
  opacity: var(--login-form-opacity);
  width: 40vw;
  border-width: 1px;
  border-style: solid;
  height: auto;
  border-radius: 15px;
  color: #726abc;
  transition: all 0.2s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected,
input:-internal-autofill-previewed {
  background-color: #f7f7f7 !important;
  -webkit-box-shadow: 0 0 0 30px #f7f7f7 inset !important;
  -webkit-text-fill-color: black !important;
}

.register-page__form:hover {
  --login-form-shadow: 10.7px 8.7px 0.9px rgba(0, 0, 0, 0.017),
    21.1px 17.5px 0.1px rgba(0, 0, 0, 0.038),
    29.1px 24.2px 2px rgba(0, 0, 0, 0.062),
    34.4px 28.6px 5.1px rgba(0, 0, 0, 0.079),
    37.1px 30.9px 11.4px rgba(0, 0, 0, 0.081),
    61px 51px 30px rgba(0, 0, 0, 0.07);
  --login-form-scale: 1.008;

  border-width: 0.3px;
  border-style: solid;
  border-color: #726abc;
}

.register-page__form__input-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  transition: all 0.3s ease;
  width: 20vw;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #f7f7f7;
  display: inline-block;
  border: 1px solid red;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 6px solid white;
  }

.register-page__form__input-text:focus {
  border-bottom: 3px solid #726abc;
}
  

.register-page__form__label {
  color: black;
  width: 10vw;
  text-align: left;
  position: relative;
  right: 91px;
  font-weight: 600;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 30px;
}
  
.register-page__title{
  color: black;
  margin-top: 30px;
  margin-bottom: 20px;
  text-decoration: solid;
  /* text-decoration: underline; */
}

h1 {
  font-family: 'Enriqueta', arial, serif;
  line-height: 1.25;
  margin: 0 0 10px;
  font-size: 33px;
  font-weight: bold;
}

h1 a:hover { color: #f7f7f7; text-decoration: none; }

.register-page__form__select {
    font-family: Arial, Helvetica, sans-serif;
    font-size:  13px;
    transition:all 0.3s ease;
    width: 20vw;
    background-color: #f7f7f7;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline:none;
    border: none;
   
  }

  .button-margins2 {
    margin-top: 20px;
  }
  
  .button-margins {
    margin-top: 25px;
    margin-bottom: 30px;
  }

