.content {
  width: 150rem;
  margin: 0 auto;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
  row-gap: 5rem;
}

.chart {
  align-self: center;
  justify-self: center;
}

.header--primary {
  font-size: 3.2rem;
  font-weight: 600;
}

.text-centered {
  text-align: center;
}

.course-popularity {
  margin-left: 13rem;
}

.footer {
  position: fixed;
  bottom: 0;
}
