.modal__content {
  border-radius: 1.4rem;
  overflow: hidden;
  background-color: #fff;
  row-gap: 4rem;
  box-shadow: 0rem 0rem 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
}

.title {
  background-color: #b3bae5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  width: 100%;
}

.btn-close {
  cursor: pointer;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.btn-close:hover {
  filter: brightness(90%);
}

.form-container {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 3rem;
  align-items: center;
}

.input {
  width: 100%;
  font-size: 1.6rem;
}

.btn-save {
  font-size: 1.6rem;
}
