@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORS */
.light-blue {
  color: #b3bae5;
}

.black-coffee {
  color: #3a2e39;
}

.button {
  background: #3f88c5;
  border-radius: 10px;
  height: 60px;
  width: 200px;
  font-size: 17px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
}
