.footer-text {
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0px;
  margin-top: auto;
  color: #f4e9ea;
  background-color: #212529;
  padding: 16px 0;
  width: 100%;
  font-size: 1.5rem !important;
}
