.navbar-btn {
	margin-left: 20px;
	margin-right: 20px;
	color: #f4e9ea;
	text-decoration: none;
	font-size: 1.5rem;
}

.navbar-btn:last-child {
	margin-right: 50px;
}

.navbar-btn:hover {
	color: #f4e9ea;
}
