.divInputs {
  text-align: center;
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

.quizzTitle {
  text-align: center;
}

.container {
  overflow-y: auto;
  height: 85.5vh;
}

.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.quizz-Title {
  font-family: 'Enriqueta', arial, serif;
  line-height: 1.25;
  margin: 0 0 10px;
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}

.page-style {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.addBtn {
  border-radius: 25px;
  font-family: "PT Sans", sans-serif;
  color: black;

  font-size: 27px;
  border: 1px solid #726abc;

  background: #f2f1ef ;
  padding: 5px 60px 5px 60px;
  text-decoration: solid;
  display: block !important;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
}
