.divInputs {
  text-align: center;
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.quizzTitle {
  text-align: center;
}

.quizz-Title {
  font-size: 3.5rem;
  margin-top: 40px;
  margin-bottom: 40px;
}
