.inputStyle {
  font-size: 2rem;
}

.divInputs {
  text-align: center;
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.divInputsO {
  width: 50vh;
  text-align: center;
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.removeBtn {
  padding-right: 10px;
  padding-left: 10px;
}

.addBtn {
  border-radius: 25px;
  font-family: "PT Sans", sans-serif;
  color: black;

  font-size: 27px;
  border: 1px solid #726abc;

  background: #f2f1ef;
  padding: 5px 60px 5px 60px;
  text-decoration: solid;
  display: block !important;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
}

.answerBox {
  width: 50%;
  border: 1px solid black;
  text-align: center;
  margin: 10px auto;
  border-radius: 5px;
  background-color: #f2f1ef;
}

.divContainer {
  text-align: center;
  font-size: 2rem;
  width: 63%;
  margin: 40px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5%;
  background-color: #f2f1ef;
}