.answer-text {
  text-align: center;
  font-size: 2rem;
  font-family: "PT Sans", sans-serif;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.radio-btn-left {
  margin-right: 10px;
}

.radio-btn-right {
  margin-left: 10px;
}
