.question-text {
  text-align: center;
  font-size: 2rem;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.question {
  border: 1px solid black;
  width: 50vw;
  text-align: center;
  margin: 30px auto;
}

.addBtnDiv {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 30px;
}

.addQuestionBtn {
  font-size: 2rem;
  background-color: #3da7ed;
  padding: 5px 60px 5px 60px;
  border-radius: 28px;
  color: #f4e9ea;
}
