.answer_special {
  padding-top: 15px;
  padding-left: 25px;
  font-size: 15px;
}

.answer {
  padding-top: 10px;
  padding-left: 25px;
  font-size: 15px;
}

.texxt {
  padding-left: 10px;
}

.texxt-ok {
  padding-left: 10px;
  color: green;
}

.texxt-wrong {
  padding-left: 10px;
  color: red;
}