.navbar{
    background-color: #212529;
}

.nav-left-part{
    color:#f4e9ea !important;
    text-decoration: none;
    font-size: 200%;
}

.navbar-right{
    display: flex;
    justify-content: right;
}

.navbar-left{
    margin: 10px 0 10px 50px !important;
}

