.div--quizz {
    padding: 5px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    width: fit-content;
    margin-bottom: 20px;
}

.div-pam {
    margin-bottom: 10px;
    padding-left: 10px;
}

.text--normal__principal2 {
    color: #333333;
    font-weight: 500;
    padding-left: 0px;
    font-size: 19px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5625;
    padding-right: 0px;
    opacity: 0.6;
}